<div *ngIf="swapi" >
<!-- {{swapi | json}}  -->
<tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap  text-righ font-extrabold">Name:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap   text-left  pl-2">  {{ swapi.name   }}</td>
 </tr>
 <tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap text-righ font-extrabold">Height:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap  text-left  pl-2">  {{ swapi.height  }}</td>
 </tr>
 <tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap  text-righ font-extrabold">Mass:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap   text-left  pl-2">  {{ swapi.mass }}</td>
 </tr>
 <tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap  text-righ font-extrabold">Skin color:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap   text-left  pl-2">  {{ swapi.skin_color }}</td>
 </tr>
 <tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap  text-righ font-extrabold">Birth year:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap  text-left  pl-2">  {{ swapi.birth_year }}</td>
 </tr>
 <tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap text-righ font-extrabold">Hair color:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap   text-left  pl-2">  {{ swapi.hair_color }}</td>
 </tr>
 <tr class="text-gray-800">
    <td align="right" class="border-t-0  align-middle text-sm  whitespace-nowrap text-righ font-extrabold">Eye color:</td>
    <td class="border-t-0  align-middle text-sm font-medium text-gray-900 whitespace-nowrap  text-left pl-2">  {{ swapi.eye_color }}</td>
 </tr>
</div>